#///////////////////////////
# Cocos Creator Project
#///////////////////////////
library/
temp/
local/
profiles/

#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
*.meta